{% extends "mainpages/page-layout.html" %}
{% block titulo %}Sports Plaza - QR Parking Emp{% endblock %}
{% block QR %}active{% endblock %}
{% block QR_boton %}white{% endblock %} 
{% block contenido %}
  <div class="container-fluid">
    <div class="page-header min-height-100 border-radius-xl mt-4">
      <span class="mask bg-gradient-dark opacity-2"></span>
    </div>
    <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
      <div class="row gx-4">
        <div class="col-auto my-auto">
          <div class="h-100">
            <h5 class="mb-1">
              Hola, {{current_user.nombre}} 
            </h5>
            <p class="mb-0 font-weight-bold text-sm">
              Excelente Dia!
            </p>
          </div>
        </div>
        <div class="col-md-5 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
          <div class="input-group mb-3">
            <a class="btn btn-sm btn-club mb-0" type="button" href="{{ url_for('qr.qr_busqueda') }}">QR Gym</a>
            <a class="btn btn-sm btn-club mb-0" type="button" href="{{ url_for('qr.qr_generador_pases') }}">QR Pases</a>
            <a class="btn btn-sm btn-club mb-0" type="button" href="{{ url_for('qr.qr_generador_pases_parking') }}">QR Parking</a>
            {% if current_user.is_user_gerente() and current_user.is_alpha_4()%}
            <a class="btn btn-sm btn-secondary mb-0" type="button" href="{{ url_for('qr.qr_generador_pases_parking_empleados') }}">QR Empleados</a>
            <a class="btn btn-sm btn-secondary mb-0" type="button" href="{{ url_for('qr.qr_generador_pases_parking_cortesias') }}">QR Cortesías</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- QR -->
  <form method="post">
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12 col-xl-12">
          <div class="card h-100">
            <div class="card-body p-3">
              <h3 class="font-weight-bolder text-club text-gradient mt-4">Coloca el ID del Empleado</h3>
              <ul class="list-group">
                <li class="list-group-item border-0 px-0">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="input-group mb-3">
                        <input name="id_qr" style="text-transform:uppercase" class="form-control" type="number" placeholder="ID Empleado" autocomplete="off" required>
                        <button class="btn btn-outline-club mb-0">Generar QR</button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  {% if request.method == 'POST' %}
  <!-- IMPRESION IMAGEN QR -->
  <div class="row">
    <div class="col-md-12">
      <div class="card text-center">
          <div class="card-header">
            <!-- <b>Codigo Qr Generado</b> -->
          </div>
          <div class="card-body">
            {% for dato_qr in dato_qr %}
              <form method="post" action="{{url_for('qr.qr_generador_pases_qr')}}">
                <input type="text" name="parking" value="EMP" hidden>
                <input type="text" class="form-control" name="cliente" value="{{dato_qr.cliente}}" hidden>
                <input type="text" class="form-control" name="concepto" value="{{dato_qr.concepto}}" hidden>
                <input type="text" class="form-control" name="idVentaDetalle" value="{{dato_qr.idVentaDetalle}}" hidden>
                <input type="text" class="form-control" name="idProd" value="{{dato_qr.idProd}}" hidden>
                <input type="text" class="form-control" name="f_compra" value="{{dato_qr.f_compra}}" hidden>
                {% if dato_qr.concepto == 'SP Mensualidad Gym' %}
                  <button class="btn btn-outline-primary" hidden>{{dato_qr.concepto}}</button>
                {% else %}
                  <button class="btn btn-outline-primary">ID Empleado: {{dato_qr.concepto}}</button><br>
                {% endif %}
              </form>
            {% endfor %}
          </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock%}