{% extends "mainpages/page-layout.html" %}
{% block titulo %}Parking - Corte de Ingresos{% endblock %}
{% block Parking %}active{% endblock %}
{% block Parking_boton %}white{% endblock %} 
{% block contenido %}
  <!-- MAS INFORMACION -->
  <div class="collapse fade" id="corte_caja">
    <!-- BOTONES INICIO -->
    <div class="container-fluid mb-4">
      <div class="page-header min-height-100 border-radius-xl mt-4">
        <span class="mask bg-gradient-dark opacity-2"></span>
      </div>
      <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
        <div class="row gx-4">
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
                Hola, {{current_user.nombre}} 
              </h5>
              <p class="mb-0 font-weight-bold text-sm">
                Excelente Dia!
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
            <div class="nav-wrapper position-relative end-0">
              <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                <li class="nav-item">
                  <button class="btn btn-sm btn-club w-100" onclick="ExportToExcel('xlsx')">Exportar Excel</button>
                  <!-- SCRIPT PARA EXPORTAR -->
                  <script>
                    function ExportToExcel(type, fn, dl) {
                          var elt = document.getElementById('Datos_tabla');
                          var wb = XLSX.utils.table_to_book(elt, { sheet: "Datos_Completos" });
                          return dl ?
                              XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
                              XLSX.writeFile(wb, fn || ('Datos_Completos.' + (type || 'xlsx')));
                      }
                  </script>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- INFOMACION DE DATOS -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-body p-3">
                  <div class="row">
                    <div class="col-8">
                      <div class="numbers">
                        <p class="text-sm mb-0 text-capitalize font-weight-bold">Importe Total</p>
                        <h5 class="font-weight-bolder mb-0">
                          {% if current_user.is_alpha_2() %}
                          {{ 5 * respuesta_suma.cantidadQrNormal + respuesta_suma.totalQrNormal + respuesta_suma.totalQrPerdida }} MXN
                          {% elif current_user.is_alpha_3() %}
                          {{respuesta | sum(attribute='costoTotal')}} MXN
                          {% endif %}
                        </h5>
                      </div>
                    </div>
                    <div class="col-4 text-end">
                      <div class="icon icon-shape bg-gradient-club shadow text-center border-radius-md">
                        <i class="fas fa-dollar-sign text-lg opacity-10"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-body p-3">
                  <div class="row">
                    <div class="col-8">
                      <div class="numbers">
                        <p class="text-sm mb-0 text-capitalize font-weight-bold">Folio</p>
                        <h5 class="font-weight-bolder mb-0">
                          {{Folio}}
                        </h5>
                      </div>
                    </div>
                    <div class="col-4 text-end">
                      <div class="icon icon-shape bg-gradient-club shadow text-center border-radius-md">
                        <i class="fas fa-exchange-alt text-lg opacity-10"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-body p-3">
                  <div class="row">
                    <div class="col-8">
                      <div class="numbers">
                        <p class="text-sm mb-0 text-capitalize font-weight-bold">Fecha de Corte</p>
                        <h5 class="font-weight-bolder mb-0">
                          {{Fecha}}
                        </h5>
                      </div>
                    </div>
                    <div class="col-4 text-end">
                      <div class="icon icon-shape bg-gradient-club shadow text-center border-radius-md">
                        <i class="fas fa-cut text-lg opacity-10"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <br>
              <div class="card">
                <div class="table-responsive">
                  <table class="table align-items-center mb-0" id="Datos_tabla">
                    <thead align="center">
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Recibo</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Club</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Costo</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Fecha de Ejecución</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Tipo</th>
                      </tr>
                    </thead>
                    {% for dato in respuesta %}
                    <tbody align="center">
                      <tr>
                        <td>
                          <h6 class="mb-0 text-xs">{{dato.idRegistro}}</h6>
                        </td>
                        {% if dato.club == 'A3' %}
                        <td>
                          <h6 class="mb-0 text-xs">Club Alpha 3</h6>
                        </td>
                        {% elif dato.club == 'A2' %}
                        <td>
                          <h6 class="mb-0 text-xs">Club Alpha 2</h6>
                        </td>
                        {% else %}
                        <td>
                          <h6 class="mb-0 text-xs">Cimera</h6>
                        </td>
                        {% endif %}
                        {% if current_user.is_alpha_2() %}
                        <td>
                          <h6 class="mb-0 text-xs">$ 20.0</h6>
                        </td>
                        {% elif current_user.is_alpha_3() %}
                        <td>
                          <h6 class="mb-0 text-xs">$ 15.0</h6>
                        </td>
                        {% endif %}
                        <td>
                          <h6 class="mb-0 text-xs">{{dato.horaEntrada}}</h6>
                        </td>
                        {% if dato.qr == False %}
                        <td>
                          <span class="badge bg-gradient-danger">Perdida QR</span>
                        </td>
                        {% else %}
                        <td>
                          <span class="badge bg-success">Pagado</span>
                        </td>
                        {% endif %}
                      </tr>
                    </tbody>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CORTE INFORMACION -->
  <div class="container-fluid" id="boundary">
    <div class="row">
      <div class="col-md-8 col-sm-10 mx-auto">
        <div class="card my-sm-5">
          <div class="card-header text-center">
            <div class="row justify-content-between">
              <div class="col-md-4 text-start">
                <h6>
                  Fundacion Club Alpha de Puebla
                </h6>
                <p class="d-block text-secondary">{{fecha_title}}</p>
              </div>
              <div class="col-lg-3 col-md-7 text-md-end text-start">
                {% if current_user.is_alpha_2() %}
                <h6 class="d-block mt-2 mb-0">Club Alpha 2</h6>
                {% elif current_user.is_alpha_3() %}
                <h6 class="d-block mt-2 mb-0">Club Alpha 3</h6>
                {% endif %}
                <p class="text-secondary">Corte de Ingresos<br>Lugar: {{Tipo}}<br>Folio: {{Folio}}</p>
              </div>
            </div>
            <div class="row justify-content-md-between">
              <div class="col-md-4 mt-auto">
                <h6 class="mb-0 text-start text-secondary">
                  ID Corte N°
                </h6>
                <h6 class="text-start mb-0">
                  <a class="" data-bs-toggle="collapse" href="#corte_caja">
                    #{{invoice}}
                  </a>
                </h6>
              </div>
              <div class="col-lg-5 col-md-7 mt-auto">
                <div class="row mt-md-5 mt-4 text-md-end text-start">
                  <div class="col-md-6">
                    <h6 class="text-secondary mb-0">Corte Fecha:</h6>
                  </div>
                  <div class="col-md-6">
                    <h6 class="text-dark mb-0">{{Fecha}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table class="table text-right">
                    <thead class="bg-default">
                      <tr>
                        <th class="pe-2 text-start ps-2">Tipo</th>
                        <th class="pe-2">Cantidad</th>
                        <th class="pe-2" colspan="2">Costo</th>
                        <th class="pe-2">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        {% if Tipo == 'caseta' %}
                        <td class="text-start">Caseta - Boleto QR</td>
                        {% else %}
                        <td class="text-start">Caja - Boleto QR</td>
                        {% endif %}
                        <td class="ps-4"> {{respuesta_suma.cantidadQrNormal}}</td>

                        {% if current_user.is_alpha_2() %}
                        <td class="ps-4" colspan="2">$ 20.00</td>
                        {% elif current_user.is_alpha_3() %}
                        <td class="ps-4" colspan="2">$ 15.00</td>
                        {% endif %}

                        {% if current_user.is_alpha_2() %}
                        <td class="ps-4">$ {{ 5 * respuesta_suma.cantidadQrNormal + respuesta_suma.totalQrNormal }}</td>
                        {% elif current_user.is_alpha_3() %}
                        <td class="ps-4">$ {{respuesta_suma.totalQrNormal }}</td>
                        {% endif %}
                        
                      </tr>
                      <tr>
                        {% if Tipo == 'caseta' %}
                        <td class="text-start">Caseta - Pérdida QR</td>
                        {% else %}
                        <td class="text-start">Caja - Pérdida QR</td>
                        {% endif %}
                        <td class="ps-4"> {{respuesta_suma.cantidadQrPerdida}}</td>
                        <td class="ps-4" colspan="2">$ 100.00</td>
                        <td class="ps-4">$ {{respuesta_suma.totalQrPerdida}}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th></th>
                        <th></th>
                        <th class="h5 ps-4" colspan="2">Total</th>
                        {% if current_user.is_alpha_2() %}
                        <th class="text-right h5 ps-4">$ {{ 5 * respuesta_suma.cantidadQrNormal + respuesta_suma.totalQrNormal + respuesta_suma.totalQrPerdida }} MXN</th>
                        {% elif current_user.is_alpha_3() %}
                        <th class="text-right h5 ps-4">$ {{respuesta | sum(attribute='costoTotal')}} MXN</th>
                        {% endif %}
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer mt-md-0 mt-0">
            <div class="row">
              <div class="col-lg-5 text-left">
                <h5>Corte de Turno!</h5>
                <p class="text-secondary text-sm">Cantidad total de registros en el sistema, después del corte.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- BOTON IMPRIMIR -->
  <div class="input-group justify-content-center">
    <button class="btn btn-lg btn-sm btn-primary" onclick="window.print()">Corte de Caja</button>
  </div>
{% endblock %}
