{% extends "mainpages/page-layout.html" %}
{% block titulo %}RH - Historico Empleado{% endblock %}
{% block Rh %}active{% endblock %}
{% block Rh_boton %}white{% endblock %} 
{% block contenido %}
  <!-- NAVBAR -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Inicio</a></li>
          <li class="breadcrumb-item text-sm text-dark active" aria-current="page">R.H</li>
        </ol>
        <h6 class="font-weight-bolder mb-0">Consulta Historico por Empleado</h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          <a class="btn btn-sm bg-gradient-primary w-100" href="javascript: history.go(-1)">Volver atrás</a>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <!-- INFORMACION DEL EMPLEADO -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body pb-0">
          <div class="row align-items-center mb-3">
            <div class="col-9">
              <h5 class="mb-1 text-gradient text-club">
                Información del Empleado
              </h5>
            </div>
            <div class="col-3 text-end">
              <div class="dropstart">
                <!-- <a class="btn btn-sm bg-gradient-secondary" data-bs-toggle="modal" data-bs-target="#edit">Solicita</a> -->
              </div>
            </div>
          </div>
          <div class="row">
            {% for dato in rh_vacaciones %}
            <div class="col-6">
              <label class="form-label mb-0 text-start text-secondary">Nombre</label>
              <div class="input-group">
                <h5>{{dato.empleado}}</h5>
              </div>
            </div>
            <div class="col-6">
              <label class="form-label mb-0 text-start text-secondary">ID Empleado</label>
              <div class="input-group">
                <h5>{{dato.id_empleado}}</h5>
              </div>
            </div>
            <div class="col-6">
              <label class="form-label mb-0 text-start text-secondary">Clave</label>
              <div class="input-group">
                <h5>{{dato.clave_externa}}</h5>
              </div>
            </div>
            <div class="col-6">
              <label class="form-label mb-0 text-start text-secondary">Club</label>
              <div class="input-group">
                <h5>{{dato.club}}</h5>
              </div>
            </div>
            <div class="col-6">
              <label class="form-label mb-0 text-start text-secondary">Antiguedad</label>
              <div class="input-group">
                <h5>{{dato.antiguedad}} Años</h5>
              </div>
            </div>
            <div class="col-6">
              <label class="form-label mb-0 text-start text-secondary">Fecha de Ingreso</label>
              <div class="input-group">
                <h5>{{dato.ingreso}}</h5>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- REGRISTRO DE TODAS LAS SOLICITUDES -->
  <br>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <h5 class="mb-1 text-gradient text-club">
            Registro Compelto de Solicitud Vacaciones 
          </h5>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table align-items-center mb-0">
        <thead>
          <tr align="center">
            <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7">N° Solicitud</th>
            <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7">Solicita</th>
            <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 ps-2">Fecha de Solicitud</th>
            <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 ps-2">Fecha Inicio</th>
            <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 ps-2">Fecha Fin</th>
            <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 ps-2">Días Solicitados</th>
            <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 ps-2">Días no contables</th>
            <th class="text-center text-uppercase text-dark text-xxs font-weight-bolder opacity-7">Solicitud Aprobada</th>
            <th class="text-center text-uppercase text-dark text-xxs font-weight-bolder opacity-7">Formato Aprobado</th>
          </tr>
        </thead>
        <tbody>
          {% for dato in dato_api %}
          <tr align="center">
            <td>
              <h6 class="mb-0 text-xs">{{dato.id}}</h6>
            </td>
            <td>
              <h6 class="mb-0 text-xs">{{dato.solicita}}</h6>
            </td>
            <td>
              <p class="text-xs font-weight-bold mb-0">{{dato.fechaSolicitud}}</p>
            </td>
            <td class="align-middle text-center text-sm">
              <p class="text-xs font-weight-bold mb-0">{{dato.fechaInicio}}</p>
            </td>
            <td class="align-middle text-center">
              <p class="text-xs font-weight-bold mb-0">{{dato.fechaFin}}</p>
            </td>
            <td class="align-middle text-center">
              {{dato.diasSolicitados}}
            </td>
            <td class="align-middle text-center">
              {{dato.diasMenos}}
            </td>
            {% if dato.aprovados == 'NO' %}
            <td>
              <span class="badge bg-danger">{{dato.aprovados}}</span>
            </td>
            {% else %}
            <td>
              <span class="badge bg-info">{{dato.aprovados}}</span>
            </td>
            {% endif %}
            {% if dato.validacion == 'NO' %}
            <td>
              <span class="badge bg-danger">{{dato.validacion}}</span>
            </td>
            {% else %}
            <td>
              <span class="badge bg-info">{{dato.validacion}}</span>
            </td>
            {% endif %}
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
