{% extends "mainpages/page-layout.html" %}
{% block titulo %}Parking - Club{% endblock %}
{% block Parking %}active{% endblock %}
{% block Parking_boton %}white{% endblock %} 
{% block contenido %}
  <!-- NAVBAR -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Inicio</a></li>
          <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Club</li>
        </ol>
        <h6 class="font-weight-bolder mb-0">Chip Tag - Activos</h6>
      </nav>
    </div>
  </nav>
  <!-- FIN NAVBAR -->
  <div class="card card-frame">
    <div class="card-body">
      <div align="center">
        <h4>Selecciona el Club</h4>
      </div>
    </div>
  </div>
  <br>
  <div>
    <div class="row justify-content-center">
      {% if current_user.is_alpha_2() or current_user.is_user_auditor() %}
      <div class="col-md-6 mb-4">
        <div class="card card-pricing">
          <div class="card-header bg-gradient-alpha text-center pt-4 pb-5 position-relative">
            <div class="z-index-1 position-relative">
              <h5 class="text-white">Chips Tag</h5>
              <h1 class="mt-2 mb-0" style="color:rgba(255, 255, 255);">ALPHA 2</h1>
            </div>
          </div>
          <div class="position-relative mt-n5" style="height: 50px;">
            <div class="position-absolute w-100">
              <svg class="waves waves-sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                  <path id="card-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                </defs>
                <g class="moving-waves">
                  <use xlink:href="#card-wave" x="48" y="-1" fill="rgba(18, 133, 229,0.30"></use>
                  <use xlink:href="#card-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
                  <use xlink:href="#card-wave" x="48" y="5" fill="rgba(18, 133, 229,0.25)"></use>
                  <use xlink:href="#card-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
                  <use xlink:href="#card-wave" x="48" y="13" fill="rgba(18, 133, 229,0.15)"></use>
                  <use xlink:href="#card-wave" x="48" y="16" fill="rgba(255,255,255,0.99)"></use>
                </g>
              </svg>
            </div>
          </div>
          <div class="card-body text-center">
            <form method="POST" action="">
              <input name="club" value="A2" hidden>
              <button class="btn bg-gradient-alpha text-white w-100 mt-4 mb-0">Seleccionar</button>
            </form>
          </div>
        </div>
      </div>
      {% endif %}
      {% if current_user.is_alpha_3() or current_user.is_user_auditor() %}
      <div class="col-md-6 mb-4">
        <div class="card card-pricing">
          <div class="card-header bg-gradient-alpha text-center pt-4 pb-5 position-relative">
            <div class="z-index-1 position-relative">
              <h5 class="text-white">Chips Tag</h5>
              <h1 class="mt-2 mb-0" style="color:rgba(255, 255, 255);">ALPHA 3</h1>
            </div>
          </div>
          <div class="position-relative mt-n5" style="height: 50px;">
            <div class="position-absolute w-100">
              <svg class="waves waves-sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                  <path id="card-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                </defs>
                <g class="moving-waves">
                  <use xlink:href="#card-wave" x="48" y="-1" fill="rgba(18, 133, 229,0.30"></use>
                  <use xlink:href="#card-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
                  <use xlink:href="#card-wave" x="48" y="5" fill="rgba(18, 133, 229,0.25)"></use>
                  <use xlink:href="#card-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
                  <use xlink:href="#card-wave" x="48" y="13" fill="rgba(18, 133, 229,0.15)"></use>
                  <use xlink:href="#card-wave" x="48" y="16" fill="rgba(255,255,255,0.99)"></use>
                </g>
              </svg>
            </div>
          </div>
          <div class="card-body text-center">
            <form method="POST" action="">
              <input name="club" value="A3" hidden>
              <button class="btn bg-gradient-alpha text-white w-100 mt-4 mb-0">Seleccionar</button>
            </form>
          </div>
        </div>
      </div>
      {% endif %}
      {% if current_user.is_cimera() or current_user.is_user_auditor() %}
      <div class="col-md-6 mb-4">
        <div class="card card-pricing">
          <div class="card-header bg-gradient-cimera text-center pt-4 pb-5 position-relative">
            <div class="z-index-1 position-relative">
              <h5 class="text-white">Chips Tag</h5>
              <h1 class="mt-2 mb-0" style="color:rgba(255, 255, 255);">CIMERA</h1>
            </div>
          </div>
          <div class="position-relative mt-n5" style="height: 50px;">
            <div class="position-absolute w-100">
              <svg class="waves waves-sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                  <path id="card-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                </defs>
                <g class="moving-waves">
                  <use xlink:href="#card-wave" x="48" y="-1" fill="rgba(229, 181, 18 ,0.30"></use>
                  <use xlink:href="#card-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
                  <use xlink:href="#card-wave" x="48" y="5" fill="rgba(229, 181, 18 ,0.25)"></use>
                  <use xlink:href="#card-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
                  <use xlink:href="#card-wave" x="48" y="13" fill="rgba(229, 181, 18 ,0.15)"></use>
                  <use xlink:href="#card-wave" x="48" y="16" fill="rgba(255,255,255,0.99)"></use>
                </g>
              </svg>
            </div>
          </div>
          <div class="card-body text-center">
            <form method="POST" action="">
              <input name="club" value="CIM" hidden>
              <button class="btn bg-gradient-cimera text-white w-100 mt-4 mb-0">Seleccionar</button>
            </form>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
